.App{
  background-color: #fff;
}

.title{
  color: #fff;
  height: 9vh;
  display: flex;
  justify-content: space-between;
}
.logo{
  margin-left: 28px;
  margin-right: 28px;
  float: left;
}
.content{
  height: 91vh;
  padding: 8px;
}